* {
    position: relative;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(63.18deg, #318FA6 0%, rgba(49, 143, 166, 0) 100%), linear-gradient(116.49deg, #DFF4FB 0%, rgba(223, 244, 251, 0) 99.51%), linear-gradient(180deg, #7757C6 0%, rgba(119, 87, 198, 0) 100%);
    background-blend-mode: normal, darken, luminosity;
 }

form {
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
    background-color: #DDE8EB;
}


